node_modules
.next
.env
.env.local

app/generated

.agents
.claude
.windsurf

*.log

prisma/dev.db
prisma/*.db

.DS_Store

# AI tools
.agents/
.claude/
.windsurf/

# Prisma generated
app/generated/

# Environment
.env
.env.local

# Backend
../backend/

skills-lock.json